.App {
  text-align: center;
}

body {
  background-color: rgb(0, 0, 0);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333333; 
  border-radius: 20px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #555; 
  border-right:2px solid transparent;
  border-left:2px solid transparent;
  border-radius: 20px;
  background-clip: padding-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  #555; 
  border-right:2px solid transparent;
  border-left:2px solid transparent;
  background-clip: padding-box;
}